*{
  padding: 0cm;
  margin: 0cm;
}
header{
  background-color: black;
  height: 70px;
}
body{
  background-color:#f0b90b; 
}
form{
  margin-top: 10%;
  background-color: rgb(66, 66, 66);

}

section{
  display: flex;
  justify-content: space-evenly;
}
div{
  margin-left: 5px;
  margin-right: 5px;
}
h1{
  color: white;
  text-align: center;
  padding: 15px 0;
}
h2{
  color: white;}
h4{
  color: white;
  text-align: center;
}
button{
  margin: 15px;
}