* {
    padding: 0cm;
    margin: 0cm;
}

header {
    background-color: black;
    height: 70px;
}

body {
    background-color: #f0b90b;
}

main {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

form {
    background-color: rgb(49, 49, 49);
    margin-top: 10%;
    border-radius: 10px;
}

.cajas {
    display: flex;
    justify-content: space-around;
}

div {
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    color: white;
    text-align: center;
    padding: 15px 0;
}

h2 {
    color: white;
    margin: 10px;
}

h4 {
    color: white;
    text-align: center;
    margin: 5px;
}

input {
    margin-left: 15px;
}

button {
    margin: 15px;
    margin-left: 30px;
}

.resultado {
    width: auto;
    height: auto;
    text-align: center;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    color: white;
    text-align: center;
    margin: 5px;
}

footer {
    margin-top: 10px;
    background-color: black;
    height: 100px;
    color: white;
    /* centrar en el eje y */
    display: block;
    align-items: center;
    text-align: center;
}

.powered {
    color: white;
    margin: 5px;
}